@import url(reset.css);
@import url("https://use.typekit.net/lvv7kjn.css");

:root{
  --background-color: #f2f2f2;
  --primary-color: #0554F2;
  --secondary-color: #076DF2;
  --tertiary-color: #3889F2;
  --black--color: #0D0D0D;
}

body {
    font-family: "new-science", sans-serif;
    height: 100vh;
    background-color: var(--background-color);
  }

  .title{
    font-size: 2.8rem;
    margin: 2rem 0;
    color: var(--primary-color);
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
  }

  .contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid var(--black--color);
    border-radius: .4rem;
    padding: 4rem;
  }

  .content,
  .content1{
    width: 20rem;

  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .content1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;
    font-size: 1.4rem;
  }

  .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
  }

  .content-input{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row-reverse;
    color: var(--black--color);
    font-size: 1.4rem;
  }

  .generate{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  button {
    background-color: var(--tertiary-color);
    border: none;
    border-radius: .2rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  input[type="text"] {
    height: 4rem;
    padding: 0;
  }

  .passwd{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--black--color);
  }
/* Estilos para as checkboxes personalizadas */
.custom-checkbox input[type="checkbox"] {
  display: none; /* Esconde a checkbox padrão */
}

/* Estilo do contêiner da checkbox personalizada */
.custom-checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Estilo da marca de seleção da checkbox personalizada */
.custom-checkbox-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: var(--primary-color);
  border-radius: 0.25em;
  transition: all 0.25s;
}

/* Estilo da marca de seleção quando a checkbox está marcada */
.custom-checkbox input:checked + .checkmark {
  background-color: #2196F3 !important;
}


/* Estilizando o input do tipo number */
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

/* Adicionando um estilo de "deslize" */
input[type="number"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

input[type="number"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

/* Estilizando o input do tipo range (slider) */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 10rem;
  height: .4rem;
  background-color: var(--tertiary-color);
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}



input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black--color);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black--color);
  cursor: pointer;
}


.content-passwd{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  margin-top: 1rem;
}

/* ------copy-button------ */

/* tooltip settings 👇 */

.copy {
  /* button */
  --button-bg: #353434;
  --button-hover-bg: #464646;
  --button-text-color: #CCCCCC;
  --button-hover-text-color: #8bb9fe;
  --button-diameter: 36px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);
  /* tooltip */
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
  --tooltip-font-size: 12px;
  /* 👆 this field should not be empty */
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
  /* --tooltip-transition-duration: 0.3s; */
  /* 👆 if you need a transition,
  just remove the comment,
  but I didn't like the transition :| */
}

.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: 4rem;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: none;
}

/* actions */

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}