@import url(reset.css);

:root{
  --background-color: #f2f2f2;
  --primary-color: #0554F2;
  --secondary-color: #076DF2;
  --tertiary-color: #3889F2;
  --black--color: #0D0D0D;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: var(--background-color);
  }
  
  .title{
    font-size: 2.8rem;
    margin: 2rem 0;
    color: var(--primary-color);
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
  }
  
  .contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }

  .content,
  .content1{
    width: 20rem;
    border: 1px solid var(--black--color);
    
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .content1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;
    font-size: 1.4rem;
  }

  .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
  }

  .content-input{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row-reverse;
    color: var(--black--color);
    font-size: 1.4rem;
  }

  .generate{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  button {
    margin-top: 10px;
    background-color: var(--tertiary-color);
    border: none;
    border-radius: .2rem;
    width: 8rem;
    height: 2rem;
    font-size: 1.2rem;
  }
  
  input[type="text"] {
    margin-top: 10px;
    height: 4rem;
    border: 2px solid #222;
    border-radius: .2rem;
  }

  .passwd{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    text-align: center;
    border-radius: 6px;
    border: none;

  }

  /* Estilizando os checkboxes */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 20%;
  border: 2px solid var(--primary-color);
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #333;
}

/* Estilizando o input do tipo number */
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

/* Adicionando um estilo de "deslize" */
input[type="number"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

input[type="number"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

/* Estilizando o input do tipo range (slider) */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 10rem;
  height: .4rem;
  background-color: var(--tertiary-color);
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px; 
}



input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black--color);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black--color);
  cursor: pointer;
}
